@media (min-width: 1520px) {
    .container {
        width: 1510px;
    }
}

@media (min-width: 1820px) {
    .container {
        width: 1810px;
    }
}

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    overflow-y: scroll;
}

.testResult {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    text-align: left;
    border-collapse: collapse;
    margin: 20px;
}

.detailsFilter:hover{
    cursor: pointer;
    text-decoration: underline;
}

.testResult .showButton {
    float: right;
}

.testResult .statistics  {
    font-weight: bold;
}

.testResults td.green {
    color: green;
}

.testResults td.red {
    color: red;
}

.testResults td.purple {
    color: purple;
}

.red {
    color: red;
}

.green {
    color: green;
}

.purple {
    color: purple;
}

.yellow {
    color: yellow;
}

.testsDetails tbody tr:hover {
    cursor: pointer;
}

.testsDetails tbody tr.detailsRow:hover {
    cursor: default;
}

.table-hover > tbody > tr:hover > td {
    background-color: white;
}