<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" data-ng-app="testResultsViewerApp">
<head>
    <meta charset="utf-8" />
    <title>Test Results Viewer</title>
    
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/app.css" rel="stylesheet" />

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/app/app.js"></script>
    <script src="~/Scripts/app/controllers.js"></script>
    <script src="~/Scripts/app/services.js"></script>
</head>
<body>
    <div class="container" data-ng-controller="testResultsController">
        <div>
            <h1 class="page-header">Test Results Viewer</h1>
            <form class="row form-inline">
                <div class="col-md-3">
                    <input type="button" class="btn btn-default btn-sm" value="New On Top" data-ng-click="predicate='-Times.Start'" />
                    <input type="button" class="btn btn-default btn-sm" value="Old On top" data-ng-click="predicate='Times.Start'" />
                </div>
                <div class="col-md-4 form-group">
                    <label for="nameSearch">Search:</label>
                    <input type="text" id="nameSearch" class="form-control" data-ng-model="runSearch.Name" placeholder="Name" />
                </div>
            </form>
            <div class="row" data-ng-show="loading">
                <h3 class="col-md-offset-1">Loading test results...</h3>
            </div>
            <div class="row" data-ng-show="error">
                <h3 class="col-md-offset-1">Something wrong happened getting test results...</h3>
            </div>
            <div class="row" data-ng-show="!loading && !testInstances.TestRuns.length">
                <h3 class="col-md-offset-1">There are no available test results...</h3>
            </div>
            <div class="testResult" data-ng-repeat="run in testInstances.TestRuns | filter:runSearch | orderBy:predicate:reverse">
                <div>
                    <h3>{{run.Name}}</h3>
                    <a data-ng-href="api/testResultFiles/{{run.FileName}}">Download original file</a>
                    <h4 data-ng-class="getColorClass(run.ResultSummary.Outcome)">{{run.ResultSummary.Outcome}}</h4>
                    <p><span class="timeLabelBox">Start</span>{{run.Times.Start | date: 'medium'}} </p>
                    <p><span class="timeLabelBox">Finish</span>{{run.Times.Finish | date: 'medium'}}</p>
                    <p class="statistics">
                        <span class="detailsFilter" data-ng-click="testInstance.testsResultsVisible = true; filterDetails(testInstance, '')">
                            Total Tests - <span>{{run.ResultSummary.Counters.Total}}</span>
                        </span> |
                        <span>
                            Total Executed - <span>{{run.ResultSummary.Counters.Executed}}</span>
                        </span> |
                        <span class="detailsFilter" data-ng-click="testInstance.testsResultsVisible = true; filterDetails(testInstance, 'Passed')">
                            Passed - <span class="green">{{run.ResultSummary.Counters.Passed}}</span>
                        </span> |
                        <span class="detailsFilter" data-ng-click="testInstance.testsResultsVisible = true; filterDetails(testInstance, 'Failed')">
                            Failed - <span class="red">{{run.ResultSummary.Counters.Failed}}</span>
                        </span> |
                        <span class="detailsFilter" data-ng-click="testInstance.testsResultsVisible = true; filterDetails(testInstance, 'Inconclusive')">
                            Inconclusive - <span class="purple">{{run.ResultSummary.Counters.Inconclusive}}</span>
                        </span> |
                        <span class="detailsFilter" data-ng-click="testInstance.testsResultsVisible = true; filterDetails(testInstance, 'NotRunnable')">
                            Not runnable - <span class="red">{{run.ResultSummary.Counters.NotRunnable}}</span>
                        </span>
                        <input class="showButton btn btn-default btn-xs" type="button" value="Show/Hide Test Results" data-ng-click="testInstance.testsResultsVisible = !testInstance.testsResultsVisible">
                    </p>
                </div>
                <div data-ng-show="testInstance.testsResultsVisible">
                    <table class="table table-condensed table-striped table-bordered table-hover testsDetails row">
                        <thead>
                            <tr>
                                <th class="col-md-2">Result</th>
                                <th class="col-md-3">Test Name</th>
                                <th class="col-md-7">Error Message</th>
                            </tr>
                        </thead>
                        <tbody data-ng-repeat="test in run.UnitTestResults | filter:testInstance.detailsFilter">
                            <tr data-ng-class="getRowColorClass(test.Outcome)" data-ng-click="test.selectedRow = !test.selectedRow">
                                <td data-ng-class="getColorClass(test.Outcome)">{{test.Outcome}}</td>
                                <td>{{test.TestName}}</td>
                                <td>{{trimString(test.Output.ErrorInfo.Message)}}</td>
                            </tr>
                            <tr class="detailsRow" data-ng-show="test.selectedRow && (test.Output.StdOut != null || test.Output.ErrorInfo.Message != null || test.Output.ErrorInfo.StackTrace != null)">
                                <td colspan="3">
                                    <div data-ng-show="test.Output.StdOut != null">
                                        <h4>Output</h4>
                                        <pre>{{test.Output.StdOut}}</pre>
                                    </div>
                                    <div data-ng-show="test.Output.ErrorInfo.Message != null">
                                        <h4>Error Message</h4>
                                        <pre>{{test.Output.ErrorInfo.Message}}</pre>
                                    </div>
                                    <div data-ng-show="test.Output.ErrorInfo.StackTrace != null">
                                        <h4>Stack Trace</h4>
                                        <pre>{{test.Output.ErrorInfo.StackTrace}}</pre>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>